language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

  # command to install dependencies
install:
  - python setup.py install
  - pip install coveralls
  - pip install pathos
  - pip install numpy
  - pip install matplotlib
  - pip install pandas
  - pip install scipy
  - pip install click
  # Need to force pytest-cov to v2.6 as current version (2.6.1) is deprecated
  - pip install pytest pytest-pep8 pytest-cov==2.6
  # Use docutils to generate html describe
  - pip install docutils
  - pip install numba
  - pip install tables


script:
  - pip uninstall spotpy -y
  - py.test  spotpy/unittests/test_* --cov spotpy --cov-report term-missing -v

after_success:
  - coveralls
