language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

# command to install dependencies
install:
  - pip install numpy
  #- pip install matplotlib
  #- pip install pandas
  #- travis_wait pip install scipy
# command to run tests
script: nosetests -s spotpy/examples/tutorial_rosenbrock.py