prune **
recursive-include tests *.py
recursive-include src/spotpy *.py
recursive-include src/spotpy/examples *
recursive-include tutorials *
include LICENSE README.md pyproject.toml setup.py
global-exclude __pycache__
global-exclude *.py[co]
